.contador {
    background-color: white;
    margin: 10rem auto;
    text-align: center;
    box-shadow: 5px 5px 23px 3px rgba(0,0,0,0.49);
    width: 40rem;
    border-radius: 10px;
}

.contador h1{
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
}

.valor {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: bold;
}

.contador button{
    cursor: pointer;
    border: 1px solid;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    margin: 0.5rem;
}

.contador button:hover{
    background-color: #cccccc;
}

.contador button:active{
    background-color: #999999;
    border-color: white;
}